/* fooditemcard.css */

.food-item-card {
  display: flex;
  flex-direction: column;
  background-color: #ffffff; /* White background */
  box-shadow: 0 4px 16px rgba(0, 0, 0, 0.1);
  border-radius: 15px; /* More rounded corners */
  overflow: hidden;
  margin-bottom: 28px; /* Increased bottom margin */
  cursor: pointer;
  transition: transform 0.3s ease, box-shadow 0.3s ease;
  width: 100%;
  font-family: 'Roboto', sans-serif; /* Modern sans-serif font */
}

.food-item-card:hover {
  transform: scale(1.05); /* Slightly more enlarge on hover */
  box-shadow: 0 8px 24px rgba(0, 0, 0, 0.2); /* Enhanced shadow on hover */
}

.food-item-summary {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 20px; /* Increased padding */
  border-bottom: 1px solid #ddd;
}

.food-item-title {
  font-size: 1.6rem; /* Increased font size */
  color: #333; /* Darker text color */
  margin: 0;
  font-weight: 700; /* Bolder font weight */
  flex-grow: 1;
  text-align: left;
}

.food-item-price {
  font-size: 1.4rem; /* Increased font size */
  color: #ff9800; /* Changed to a brighter orange */
  font-weight: 700; /* Bolder font weight */
  margin: 0;
  text-align: right;
}

.food-item-expanded-content {
  padding: 20px; /* Increased padding */
  background-color: #f9f9f9; /* Lighter gray background */
  border-top: 1px solid #e0e0e0;
  display: flex;
  flex-direction: column;
}

.food-item-description {
  font-size: 1.1rem; /* Slightly larger text */
  color: #666;
  margin: 0;
  margin-bottom: 12px; /* Increased bottom margin */
  font-weight: 400;
}

.food-item-weight {
  font-size: 1.1rem; /* Slightly larger text */
  color: #666;
  margin-top: 0;
  font-weight: 400;
}

.add-button {
  padding: 14px 20px; /* Increased padding */
  background-color: #ff6600; /* Changed to a vibrant orange */
  color: #fff;
  border: none;
  border-radius: 10px; /* More rounded corners */
  cursor: pointer;
  font-size: 1.3rem; /* Increased font size */
  margin-top: 20px; /* Adjusted top margin */
  transition: background-color 0.2s ease, transform 0.2s ease;
  font-weight: 500;
}

.add-button:hover {
  background-color: #cc5200; /* Darker orange on hover */
  transform: translateY(-3px); /* Lift button more on hover */
  box-shadow: 0 4px 12px rgba(0, 0, 0, 0.1);
}

/* Focus state for accessibility */
.add-button:focus {
  outline: 2px solid #cc5200;
  outline-offset: 2px;
}
