body {
  font-family: 'Lato', sans-serif;
  margin: 0;
  padding: 0;
  background-color: #f0eae1; /* Soft Cream */
  color: #000; /* Dark Green */
}

.header {
  width: 100%;
  padding: 20px;
  background-color: #000; /* Dark Green */
  color: #fff;
  text-align: center;
  display: flex;
  flex-direction: column;
  align-items: center;
  border-bottom: 1px solid #ccc;
  box-shadow: 0 2px 8px rgba(0, 0, 0, 0.1);
  position: relative;
  border-bottom-left-radius: 30px; /* Rounded bottom corners */
  border-bottom-right-radius: 30px; /* Rounded bottom corners */
}

.header-logo {
  width: 100px;
  height: auto;
  margin-bottom: 10px;
}

.header-text {
  text-align: center;
}

.header-title {
  font-size: 2rem;
  font-weight: 700;
  margin: 0;
  font-family: 'Playfair Display', serif;
}

.header-subtitle {
  font-size: 1rem;
  color: #b2c2a1; /* Light Sage */
  margin: 5px 0;
}

.header-status {
  font-size: 1rem;
  color: #FFF; /* Soft Cream */
  margin: 5px 0;
  font-family: 'Lato', sans-serif;
}
