 
 
.menu {  
  box-sizing: border-box;  
  width: 100%;  
  padding: 0 10px;  
}  
  
.menu-section {  
  box-sizing: border-box;  
  width: 100%;  
  padding: 10px;  
  margin-bottom: 20px;  
  border: 1px solid #ddd;  
  border-radius: 10px;  
  box-shadow: 0 2px 8px rgba(0,0,0,0.1);  
}  

  
.menu h2 {  
  font-weight: bold;  
  color: #333;  
  margin-bottom: 10px;  
  border-bottom: 2px solid #00BF63;  
  padding-bottom: 5px;  
  width: 100%;  
  text-align: center;  
}  
  
.menu-items-container {  
  margin-top: 10px;  
  width: 100%;  
}  
  
.menu-items {  
  display: flex;  
  flex-direction: column;  
  gap: 10px;  
  padding: 5px;  
  width: 100%;  
}  
  
 
@media (max-width: 768px) {  
  .menu {  
     width: 100vw; /* Set width to full viewport width */  
     padding: 0; /* Remove padding to make it full-width */  
   }  
  .menu-section {  
     width: 100vw; /* Set width to full viewport width */  
     padding: 10px; /* Keep padding for inner content */  
   }  
 }  
 