.navbar {
  width: 100%;
  padding: 10px 0;
  overflow-x: auto;
  white-space: nowrap;
  background-color: #F4F4F9; /* Ghost White background */
  -webkit-overflow-scrolling: touch;
}

.navbar ul {
  list-style: none;
  display: flex;
  justify-content: flex-start;
  padding: 0;
  margin: 0;
}

.navbar li {
  flex: 0 0 auto;
  margin: 0 10px; /* Adjusted margin for equal spacing */
}

.category-item {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.category-button {
  border: none;
  background-color: transparent;
  cursor: pointer;
  padding: 0;
  text-align: center;
  transition: transform 0.3s ease;
  width: 100px; /* Set a fixed width for consistency */
}

.category-button:hover {
  transform: scale(1.1);
}

.category-content {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.category-image {
  width: 80px;
  height: 80px;
  border-radius: 10px;
  object-fit: cover;
  margin-bottom: 5px;
}

.category-button span {
  font-size: 0.8rem;
  color: #2D3047; /* Charcoal Blue text */
  display: block;
  text-align: center;
  white-space: normal; /* Allow text to wrap */
  word-wrap: break-word; /* Ensure text wraps within the container */
}
