.navbar {
  width: 100%;
  padding: 10px 0; /* Adjust padding to ensure first and last categories are visible */
  overflow-x: auto; /* Enable horizontal scrolling */
  white-space: nowrap; /* Prevent wrapping of buttons */
  background-color: #f9f9f9; /* Light background */
  -webkit-overflow-scrolling: touch; /* Enable smooth scrolling on touch devices */
}

.navbar ul {
  list-style: none;
  display: flex;
  justify-content: flex-start; /* Align categories to the start */
  padding: 0;
  margin: 0;
}

.navbar li {
  margin: 0 20px; /* Equal space between category items */
}

.category-item {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.category-button {
  border: none;
  background-color: transparent;
  cursor: pointer;
  padding: 0;
  text-align: center;
  transition: transform 0.3s ease;
}

.category-button:hover {
  transform: scale(1.1);
}

.category-image {
  width: 100px; /* Increase size for better visibility */
  height: 100px; /* Increase size for better visibility */
  border-radius: 12px;
  object-fit: cover;
  box-shadow: 0 4px 16px rgba(0, 0, 0, 0.1);
  margin-bottom: 10px; /* Adjust margin for better spacing */
}

.category-button span {
  font-size: 1rem; /* Adjust font size for better readability */
  color: #333;
}
