@import url('https://fonts.googleapis.com/css2?family=Playfair+Display:wght@400;700&display=swap');

body {
  margin: 0;
  font-family: 'Playfair Display', serif; /* Main body font */
  background-color: #F4F4F9; /* Ghost White background color */
  color: #2D3047; /* Charcoal Blue base text color */
}

* {
  box-sizing: border-box;
}
